.wp-caption {
	@extend .h6;

    margin-bottom: 1.25rem;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 10px 0 0;
        text-align: left;
	}
}

.category-musik .wp-caption {
    color: $color__brand-1;
}

.category-nyheder .wp-caption {
    color: $color__brand-2;
}

.category-anmeldelse .wp-caption {
    color: $color__brand-3;
}

.category-livestemning .wp-caption {
    color: $color__brand-4;
}