h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.25rem;
    font-family: $font__headers;
    font-weight: 900;
    clear: both;
}

h1 {
    //@include font-size(1.5); // 24px
    font-size: 24px;
    line-height: 1.25;

    @media (min-width: $screen-sm-min) {
        font-size: 28px;
    } 
    @media (min-width: $screen-md-min) {
        font-size: 36px;
    }
    @media (min-width: $screen-lg-min) {
        //font-size: 42px;
    } 
}

h4,
.h4 {
    font-family: $font__main;
    @include font-size(0.75); // 12px
    //font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;

    @media (min-width: $screen-lg-min) {
        text-align: left;
    } 
}

h6,
.h6 {
    font-family: $font__headers;
    font-weight: 400;
    @include font-size(0.625);
    //font-size: 10px;
}
