h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.25rem;
    font-family: $font__headers;
    font-weight: 600; // Medium
    clear: both;
}

h1 {
    @include font-size(1.5); // 24px
}

h4 {
    font-family: $font__main;
    @include font-size(0.75); // 12px
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}