.archive-page {
    ul,
    li, {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
    }

    li {
        @extend .h6;
        margin-bottom: 1rem;


        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: none;
        text-shadow: 1px 0 $color__gray-lightest_solid, 2px 0 $color__gray-lightest_solid, 3px 0 $color__gray-lightest_solid, -1px 0 $color__gray-lightest_solid, -2px 0 $color__gray-lightest_solid, -3px 0 $color__gray-lightest_solid;
        // font-weight: 600;
        transition: color .2s ease, background-image .2s ease;
        background-image: linear-gradient(to bottom, transparent 50%, $color__gray-lighter 50%);
        background-repeat: repeat-x;
        background-size: 2px 2px;
        background-position: 0 95%;
    }

    h2 {
        text-align: center;
    }
}

.archive-top {
    margin-bottom: 2rem;
}

.archive-categories {
    margin-bottom: 2rem; 
    .date {
        @extend .h5;
        text-align: left;
        display: block;
        margin-bottom: .25rem;
    }
}

.link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
}

.link-opdagelser {
    color: $color__1_0;

    &:hover {
        // color: $color__1_-1;
    }
}
.link-livestemning {
    color: $color__2_0;

    &:hover {
        // color: $color__2_-1;
    }
}
.link-feature {
    color: $color__3_0;

    &:hover {
        // color: $color__3_-1;
    }
}
.link-generelt {
    color: $color__4_0;

    &:hover {
        // color: $color__4_-1;
    }
}

.archive-years {
    .year-title {
        margin-bottom: 0.5rem;
    }

    .year-amount {
        @extend .h5;
        margin-bottom: 1rem;
    }

    .year-posts {
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        // display: inline;
        margin-bottom: .5rem;

        @include respond-to($sm) {
            display: inline-block;
            // margin-bottom: 0;

            &:after {
                content: '\0000a0 +\0000a0';
                color: $color__gray-light;
            }
        }
    }
}