.site-content {
    margin-bottom: 0;

    // @media (min-width: 500px) {
    //     margin-bottom: 60px;
    // }
}

// .content-area {
//     overflow: hidden;
// }

// .hentry {
// 	margin-bottom: 3rem;
// }
// .single .hentry {
//     margin-bottom: 40px;
// }

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

// .page-content,
// .entry-summary {
// 	margin: 1.5em 0 0;
// }

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Entries */
.single .post {
    margin-bottom: 40px;
}

.post p:last-of-type {
    margin-bottom: 1.5rem;
}

.entry-wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #fff;

    @include respond-to($md) {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

/* Pages */
.page,
.error-404 {
    .entry-wrapper {
        background-color: $color__gray-lightest;
    }
}

.page-title {
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $screen-md-min) {
        margin-top: 20px;
    }
}

// Archive pages
.archive {
    .page-title {
        margin-bottom: 0;
    }

    .page-header {
        background-color: $color__gray-lightest;
        padding-top: 50px; // 10px + 40
        padding-bottom: 20px;
        margin-top: -40px;

        @include respond-to($md) {
            padding-top: 80px;
            padding-bottom: 35px;
        }
    }
}

.category-opdagelser {
    .page-title {
        color: $color__1_0;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__1_3;
    }
}
.category-livestemning {
    .page-title {
        color: $color__2_1;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__2_3;
    }
}
.category-feature {
    .page-title {
        color: $color__3_-1;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__3_3;
    }
}
.category-generelt {
    .page-title {
        color: $color__4_0;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__4_3;
    }
}



// Add bg color behind header of the first article of a page
.post:first-child .entry-wrapper,
.page:first-child .entry-wrapper,
.error-404:first-child .entry-wrapper {
    margin-top: -40px;
    padding-top: 80px;

    @include respond-to($md) {
        padding-top: 100px;
        margin-top: -40px;
    }
}

.entry-header {
    margin-bottom: 1.875rem; // 30px
}

.entry-category {
    margin-bottom: 1rem; // 16px
    text-align: center;
}

.entry-title {
    text-align: center;
}

.entry-meta {
    @extend .h5;

    a, .date {
        color: $color__base;
    }
}

// .archive .entry-category,
// .archive .entry-title,
// .home .entry-category,
// .home .entry-title {
//     margin-bottom: 1rem; // Mindre end standard margin på arkiv-side og home
// }

article.category-opdagelser {
    .entry-wrapper {
        background-color: $color__1_2;    
    }

    .entry-category,
    .entry-category a {
        color: $color__1_0;
    }
}
article.category-livestemning {
    .entry-wrapper {
        background-color: $color__2_2;    
    }
    .entry-category,
    .entry-category a {
        color: $color__2_0;
    }
}
article.category-feature {
    .entry-wrapper {
        background-color: $color__3_2;    
    }
    .entry-category,
    .entry-category a {
        color: $color__3_-1;
    }
}
article.category-generelt {

    .entry-wrapper {
        background-color: $color__4_2;    
    }

    .entry-category,
    .entry-category a {
        color: $color__4_0;
    }
}

.entry-footer {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $color__gray-lightest;
}

/* Read more links */
.read-more {
    color: $color__gray-light;
}

.read-more-link {
    color: $color__base;
}
.category-opdagelser .read-more-link {
    color: $color__1_0;
}
.category-livestemning .read-more-link {
    color: $color__2_0;
}
.category-feature .read-more-link {
    color: $color__3_0;
}
.category-generelt .read-more-link {
    color: $color__4_0;
}

