.entry-actions-header {

    @media(min-width: $md) {
        text-align: left;
    }

    // &:before {
    //     content: " ";
    //     display: block;
    //     width: 60px;
    //     height: 1px;
    //     background-color: $color__base;
    //     margin: 0 auto 20px;

    //     @media(min-width: $screen-sm-min) {
    //         margin-left: 0;
    //     }
    // }
}
// .category-opdagelser .entry-actions-header:before {
//     background-color: $color__1_0;
// }
// .category-livestemning .entry-actions-header:before {
//     background-color: $color__2_0;
// }
// .category-feature .entry-actions-header:before {
//     background-color: $color__3_0;
// }
// .category-generelt .entry-actions-header:before {
//     background-color: $color__4_0;
// }

/*--------------------------------------------------------------
## Share post
*/

.entry-share {
    margin-bottom: 20px; // Skal være 30px, når det ikke er sociale embeddede knapper
}

.share-buttons {
    text-align: center;

    @media(min-width: $md) {
        text-align: left;
    }

    a {
        text-decoration: none;
        outline: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .share-button {
        display: inline-block;
        margin-right: 14px; // Der er allerede 6px

        &:last-child {
            margin-right: 0;
        }

        @media(min-width: $md) {
            margin-bottom: 10px;
        }
        
        // img {
        //     width: 20px;
        //     height: 20px;
        //     margin-right: 10px;
        // }

        // span {
        //     vertical-align: 6px; // 5px ved 12px font size
        // }
    }

    .fb span {
        // height: 20px;
        vertical-align: baseline !important;
    }

    .twitter {
        height: 20px;
        vertical-align: baseline;
    }
}

/*--------------------------------------------------------------
## Comment post
*/

// .entry-comment {
//     margin-bottom: 50px;
// }

.comments-cta {
    text-align: center;

    @media (min-width: $md) {
        text-align: left;
    }

    .cta {
        @include respond-to($md) {
            text-align: left;
        }       
    }
}

.comment-notes {
    @extend .h5;

    @include respond-to($md) {
        text-align: left;
    }
}

.comments-area {
    font-size: 14px;

    @include respond-to($md) {
        font-size: 16px;
    }

    .comment-reply-title {
        display: none; // Hide title "Skriv et svar"
    }

    p {
        margin-bottom: 1rem;
    }

    .comment-form-url {
        margin-bottom: 30px;
    }

    // Comments
    ul, ol, li {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }

    .comments-title {
        display: none;
    }
}

// Comment author and date
.comment-meta {
    margin-bottom: 1em;
    @include clearfix();

    a {
        text-decoration: none;
    }

    .comment-author {
        float: left;
        @extend .h5;

        font-style: normal;
        color: $color__base;
        
        .fn {
            font-weight: bold;
            font-style: normal;
        }
    }

    .comment-metadata {
        float: right;

        @extend .h5;

        a {
            color: $color__gray-light;
        }
    }
}

// Respond formular - remove until in use
#respond {
    display: none;
}

.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}

.form-submit {
    margin-bottom: 0;
    text-align: center;

    @media (min-width: $md) {
        text-align: left;
    }
}


/*--------------------------------------------------------------
## Read related posts
*/

.entry-related {
    margin-bottom:20px;
}

.related-post,
.small-post {
    margin-bottom: 10px;
    
    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    span {
        font-size: 0.75rem;
    }

    .small-post-meta,
    .small-post-title {
        text-align: center;

        @media (min-width: $md) {
            text-align: left;
        }
    }
}

.small-post-date {
    display: block;
}