// Page-wrap is an element wrapping all of the website
.page-wrap {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.site-content {
    margin-bottom: 0;
}

// .byline,
// .updated:not(.published){
// 	display: none;
// }

// .single .byline,
// .group-blog .byline {
// 	display: inline;
// }

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Entries */
.post {
    word-wrap: break-word; // Breaks lines without spaces (e.g. the wordpress audio code: "[audio:http://www...") 
}

.single .post {
    // margin-bottom: 40px;
}

.entry-content p:last-of-type {
    margin-bottom: 1.5rem; // Margin down to tags
}

.entry-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;

    @include respond-to($md) {
        padding-top: 4rem;
    }
}

.post .entry-wrapper {
    padding-bottom: 2rem;
}

/* Pages */
.page,
.error-404 {
    .entry-wrapper {
        background-color: $color__gray-lightest;
        @include border-after($border__gray-lightest);
    }
}

.page-title {
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $screen-md-min) {
        margin-top: 20px;
    }
}

// Archive pages
.archive,
.search {
    .page-title {
        margin-bottom: 0;
    }

    .page-header {
        padding-top: 4rem;
        padding-bottom: 1.75rem;
        margin-top: -3rem;
        background-color: $color__gray-lightest;
        @include border-after($border__gray-lightest);

        @include respond-to($md) {
            padding-top: 5rem;
            padding-bottom: 1.5rem;
        }
    }
}

.search {
    .page-header {
        padding-bottom: 2rem;
    }
}

.category-opdagelser {
    .page-title {
        color: $color__1_0;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__1_3;
        @include border-after($border__green-light);

    }
}
.category-livestemning {
    .page-title {
        color: $color__2_0;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__2_3;
        @include border-after($border__blue-light);
    }
}
.category-feature {
    .page-title {
        color: $color__3_0;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__3_3;
        @include border-after($border__yellow-light);
    }
}
.category-generelt {
    .page-title {
        color: $color__4_0;
        // color: $color__base;
    }
    .page-header {
        background-color: $color__4_3;
        @include border-after($border__red-light);
    }
}



// Add bg color behind header of the first article of a page
.post:first-child .entry-wrapper,
.page .entry-wrapper,
.search:first-child .entry-wrapper,
.error-404:first-child .entry-wrapper {
    margin-top: -3rem;
    padding-top: 6rem;

    @include respond-to($md) {
        padding-top: 8rem;
        margin-top: -3rem;
    }
}

.page .entry-wrapper {
    @include respond-to($md) {
        padding-top: 120px;
    }
}

.entry-header {
    margin-bottom: 1.875rem; // 30px
}
.page .entry-header {
    margin-bottom: 1rem; // 30px
}

.entry-category {
    margin-bottom: 1rem; // 16px
    text-align: center;
}

.entry-title {
    text-align: center;
}

.entry-meta {
    @extend .h5;

    a, .date {
        color: $color__base;
    }
}

article.category-opdagelser {
    .entry-wrapper {
        background-color: $color__1_2;
        @include border-after($border__green);    
    }

    .entry-category,
    .entry-category a {
        color: $color__1_0;
    }
}
article.category-livestemning {
    .entry-wrapper {
        background-color: $color__2_2;
        @include border-after($border__blue);    
    }
    .entry-category,
    .entry-category a {
        color: $color__2_0;
    }
}
article.category-feature {
    .entry-wrapper {
        background-color: $color__3_2; 
        @include border-after($border__yellow);   
    }
    .entry-category,
    .entry-category a {
        color: $color__3_-1;
    }
}
article.category-generelt {

    .entry-wrapper {
        background-color: $color__4_2;
        @include border-after($border__red);    
    }

    .entry-category,
    .entry-category a {
        color: $color__4_0;
    }
}

/* Read more links */
.read-more {
    color: $color__gray-light;
}

.read-more-link {
    color: $color__base;
}
.category-opdagelser .read-more-link {
    color: $color__1_0;
}
.category-livestemning .read-more-link {
    color: $color__2_0;
}
.category-feature .read-more-link {
    color: $color__3_0;
}
.category-generelt .read-more-link {
    color: $color__4_0;
}
