.entry-footer {
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    background-color: $color__gray-lightest;

    // @include respond-to($md) {
    //     padding-top: 3rem;
    // }

    @include border-after($border__gray-lightest);
}

/*--------------------------------------------------------------
## Share post
*/

.entry-share {
    margin-bottom: 1rem; // Skal være 30px, når det ikke er sociale embeddede knapper
}

.share-buttons {
    text-align: center;

    // @media(min-width: $md) {
    //     text-align: left;
    // }

    a {
        text-decoration: none;
        outline: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .share-button {
        display: inline-block;
        margin-right: 14px; // Der er allerede 6px

        &:last-child {
            margin-right: 0;
        }

        // @media(min-width: $md) {
        //     margin-bottom: 10px;
        // }
        
        // img {
        //     width: 20px;
        //     height: 20px;
        //     margin-right: 10px;
        // }

        // span {
        //     vertical-align: 6px; // 5px ved 12px font size
        // }
    }

    .fb span {
        // height: 20px;
        vertical-align: baseline !important;
    }

    .twitter {
        height: 20px;
        vertical-align: baseline;
    }
}

/*--------------------------------------------------------------
## Comment post
*/

// .entry-comment {
//     margin-bottom: 50px;
// }

.comments-cta {
    text-align: center;

    // @media (min-width: $md) {
    //     text-align: left;
    // }

    // .cta {
    //     @include respond-to($md) {
    //         text-align: left;
    //     }       
    // }
}

.comment-notes {
    @extend .h5;

    // @include respond-to($md) {
    //     text-align: left;
    // }
}

.comments-area {
    font-size: 14px;

    @include respond-to($md) {
        font-size: 16px;
    }

    .comment {
        margin-bottom: 1.5rem;
    }

    .comment-reply-title {
        display: none; // Hide title "Skriv et svar"
    }

    p {
        margin-bottom: 1rem;
    }

    .comment-form-url {
        margin-bottom: 30px;
    }

    // Comments
    ul, ol, li {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }

    .comments-title {
        display: none;
    }
}

// Comment author and date
.comment-meta {
    margin-bottom: 1em;
    @include clearfix();

    a {
        text-decoration: none;
    }

    .comment-author {
        float: left;
        @extend .h5;

        font-style: normal;
        color: $color__base;
        
        .fn {
            font-weight: bold;
            font-style: normal;
        }
    }

    .comment-metadata {
        float: right;

        @extend .h5;

        a {
            color: $color__gray-light;
        }
    }
}

// Respond formular - remove until in use
#respond {
    display: none;
}

.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}

p.form-submit {
    margin-bottom: 0;
    text-align: center;

    // @media (min-width: $md) {
    //     text-align: left;
    // }
}


/*--------------------------------------------------------------
## Read related posts
*/

.related-posts {
    padding-top: 3rem;
    padding-bottom: 3rem;


    @include border-after($border__white);

    ul,
    li {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    ul {
        margin-bottom: 0;
    }

    a,
    .entry-meta a {
        text-shadow: 1px 0 #fff, 2px 0 #fff, 3px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
    }

    h4 {
        text-align: center;
    }

}

.related-post {
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }

    .related-post_title {
        text-align: center;
        margin-bottom: 1rem;

        a:hover {
            color: $color__gray-dark;
        }
    }

    .related-post_meta {
        margin-bottom: 1rem;
    }
    
    .related-post_category {
        @extend .h4;

        &:after {
            content: ': ';
            color: $color__gray-light;
            font-family: $font__main;
            margin-left: -5px; // To get colon closer to category
        }
    }
    
    p {
        display: inline;
        font-size: 14px;

        @include respond-to($md) {
            font-size: 16px;
        }
    }

    .excerpt-read-more {
        font-style: italic;
        background-position: 0 94%;
    }
}

// Color category
.post-opdagelser {
    .related-post_category,
    .excerpt-read-more {
        color: $color__1_0;
    }
}
.post-livestemning {
    .related-post_category,
    .excerpt-read-more {
        color: $color__2_0;
    }
}
.post-feature {
    .related-post_category,
    .excerpt-read-more {
        color: $color__3_0;
    }
}
.post-generelt {
    .related-post_category,
    .excerpt-read-more {
        color: $color__4_0;
    }
}

