.site-footer {
    position: relative;
    padding: 3rem 0 .5rem;
    background-color: $color__base;
    margin-bottom: 140px;

    @include respond-to($sm) {
        margin-bottom: 160px;
    }
    
    @include respond-to($md) {
        margin-bottom: 120px;
    }

    @include respond-to($lg) {
        margin-bottom: 90px;
    }

    p, li, a, span, h4, h6 {
        color: white;
    }

    p,
    ul,
    li,
    span {
        @extend .h6;
        margin: 0;
        padding: 0;
    }

    ul, li {
        list-style: none;
        text-align: left;
    }

    li {
        margin-bottom: 10px;
    }
    li:last-child {
        margin-bottom: 0;
    }

    h4 {
        font-weight: 900; 
        @include respond-to($sm) {
            text-align: left;
        }
    }

    @include border-after($border__base);
}

.footer-module,
.module {
    margin-bottom: 40px;
}

// Change order of modules on mobile
.follow-regnsky {
    order: 2;

    @include respond-to($md) {
        order: 1;
    }
}
.about-regnsky {
    order: 1;

    @include respond-to($md) {
        order: 2;
    }
}
.recent-comments {
    order: 3;
}
.recent-posts {
    order: 4;
}

.social-buttons {
    margin-bottom: 20px;
    text-align: center;

    @include respond-to($sm) {
        text-align: left;
    }

    .social-btn {
        height: 20px;
        margin-right: 20px;
    }
    
    .social-btn-hypem {
        margin-right: 0;
    }
}
.footer-fb {
    margin: 0 auto;
    text-align: center;

    @include respond-to($sm) {
        text-align: left;
    }

    .fb-follow-text {
        margin-right: 10px;
        // color: $color__base;
    }
}

.recent-comments {
    .comment-author-link {
        a {
            text-decoration: none;
        }
    }
}

// Copyright etc. - behind site
.site-info {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 1.5rem 0;
    background-color: black;
    text-align: center;
    
    h5 {
        color: #9c9c9c;
        margin-bottom: 0;
    }
    
    a {
        color: #9c9c9c;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}