.site-content {
    margin-bottom: 0;

    @media (min-width: 500px) {
        margin-bottom: 60px;
    }
}

// .content-area {
//     overflow: hidden;
// }

.sticky {
	display: block;
}

.hentry {
	margin-bottom: 3rem;
}
.single .hentry {
    margin-bottom: 40px;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Entries */
.post {
    margin-top: -3rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #fff;
}

.entry-header {
    margin-bottom: 1.25rem;
}

.archive .entry-category,
.archive .entry-title,
.home .entry-category,
.home .entry-title {
    margin-bottom: 1rem; // Mindre end standard margin på arkiv-side og home
}

.single .entry-header {
    margin-bottom: 1.875rem;
}
.single .entry-category {
    margin-bottom: 1.25rem;
}

.category-opdagelser {
    .post {
        background-color: $color__1_2;
    }

    .entry-category,
    .entry-category a {
        color: $color__1_0;
    }
}
.category-livestemning {
    .post {
        background-color: $color__2_2;
    }

    .entry-category,
    .entry-category a {
        color: $color__2_0;
    }
}
.category-feature {
    .post {
        background-color: $color__3_2;
    }

    .entry-category,
    .entry-category a {
        color: $color__3_0;
    }
}
.category-generelt {
    .post {
        background-color: $color__4_2;
    }

    .entry-category,
    .entry-category a {
        color: $color__4_0;
    }
}

// Center titles on single posts and pages
.entry-title,
.entry-meta,
.page-title {
    text-align: center;
}

// .home .entry-title,
// .home .entry-meta,
// .home .entry-category,
// .archive .entry-title,
// .archive .entry-meta,
// .archive .entry-category {
//     text-align: left;
// }

.entry-meta {

    a,
    .date {
        color: $color__base;
    }
}

@media (min-width: $screen-lg-min) {
    .entry-title,
    .entry-meta,
    .page-title {
        text-align: left;
    } 
}

// @media (min-width: $screen-lg-min) {
//     .page-title {
//         text-align: left;
//     } 
// }

/* Entry content */ 
.single .entry-content {
    margin-bottom: 10px; // To get 30px down to the tags
}

.archive .entry-content,
.home .entry-content {
    p {
        margin-bottom: 0; // Remove margin bottom from excerpt
    }
}

.post img {
    height: auto; /* Make sure images are scaled correctly. */
    width: calc(100% + $gitter-width*2); /* Adhere to container width. */
    margin-left: -$gutter-width;
}

/* Pages */
.page-title {
    margin-bottom: 40px;

    @media (max-width: $screen-md-min) {
        margin-top: 20px;
    }
}

/* Read more links */
.read-more {
    color: $color__gray-light;
}

.read-more-link {
    color: $color__base;
}
.category-opdagelser .read-more-link {
    color: $color__1_0;
}
.category-livestemning .read-more-link {
    color: $color__2_0;
}
.category-feature .read-more-link {
    color: $color__3_0;
}
.category-generelt .read-more-link {
    color: $color__4_0;
}