.site-content {
    margin-bottom: 0;

    @media (min-width: 500px) {
        margin-bottom: 60px;
    }
}

// .content-area {
//     overflow: hidden;
// }

.sticky {
	display: block;
}

// .hentry {
// 	margin-bottom: 3rem;
// }
// .single .hentry {
//     margin-bottom: 40px;
// }

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Entries */
.single .post {
    margin-bottom: 40px;
}

.entry-wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #fff;
}

// Add bg color behind header of the first post of a page
.post:first-child .entry-wrapper {
    margin-top: -40px;
    padding-top: 80px;
}

.entry-header {
    margin-bottom: 1.875rem; // 30px
}

.entry-category {
    margin-bottom: 1rem; // 16px
    text-align: center;
}

.entry-title {
    text-align: center;
}

.entry-meta {
    text-align: center;

    a, .date {
        color: $color__base;
    }
}

// .archive .entry-category,
// .archive .entry-title,
// .home .entry-category,
// .home .entry-title {
//     margin-bottom: 1rem; // Mindre end standard margin på arkiv-side og home
// }

article.category-opdagelser {
    .entry-wrapper {
        background-color: $color__1_2;    
    }

    .entry-category,
    .entry-category a {
        color: $color__1_0;
    }
}
article.category-livestemning {
    .entry-wrapper {
        background-color: $color__2_2;    
    }
    .entry-category,
    .entry-category a {
        color: $color__2_0;
    }
}
article.category-feature {
    .entry-wrapper {
        background-color: $color__3_2;    
    }
    .entry-category,
    .entry-category a {
        color: $color__3_-1;
    }
}
article.category-generelt {

    .entry-wrapper {
        background-color: $color__4_2;    
    }

    .entry-category,
    .entry-category a {
        color: $color__4_0;
    }
}

.entry-footer {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $color__gray-lightest;
}


/* Pages */
.page-title {
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: $screen-md-min) {
        margin-top: 20px;
    }
}

/* Read more links */
.read-more {
    color: $color__gray-light;
}

.read-more-link {
    color: $color__base;
}
.category-opdagelser .read-more-link {
    color: $color__1_0;
}
.category-livestemning .read-more-link {
    color: $color__2_0;
}
.category-feature .read-more-link {
    color: $color__3_0;
}
.category-generelt .read-more-link {
    color: $color__4_0;
}

