/*******************************
             Global
*******************************/

html {
    font-size: 16px;

    @include respond-to($md) {
        font-size: 18px;
    }

    @include respond-to($lg) {
        font-size: 20px;
    }
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1); // 16px
	line-height: $font__line-height-body;
}


/*******************************
             Headers
*******************************/

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.25rem;
    padding: 0;
    font-family: $font__headers;
    font-weight: 900;
    clear: both;
}

h1 {
    // @include font-size(1.5); // 24px
    font-size: 24px;
    line-height: 1.25;

    @media (min-width: $sm) {
        font-size: 28px;
    } 
    @media (min-width: $md) {
        font-size: 36px;
    }
    @media (min-width: $lg) {
        font-size: 48px;
    } 
}

h4,
.h4 {
    font-family: $font__headers;
    // @include font-size(0.75); // 12px
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;

    @media (min-width: $lg) {
        text-align: left;
    } 
}

h5,
.h5 {
    font-family: $font__main;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    // @include font-size(0.75); // 12px
    line-height: 1.5;
    color: $color__gray-light;

    @include respond-to($sm) {
        font-size: 14px;
    }
}

h6,
.h6 {
    font-family: $font__headers;
    font-weight: 400;
    // @include font-size(0.625);
    font-size: 10px;

    @include respond-to($sm) {
        font-size: 12px;
    }
}

/*******************************
             Text
*******************************/

p {
	margin: 0 0 1.25rem;
    padding: 0;
}

blockquote {
    font-style: italic;
    margin: 0 1.25rem;
}

/*-------------------
        Links
--------------------*/

a {
    margin: 0;
    padding: 0;
    color: $color__base;

    &:visited {
        color: $color__base;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color__base;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}
