// Text helper classes 
.text-sub {
    @include font-size(0.75);
    font-style: italic;
}
.text-mute {
    color: $color__gray-light;
}
.text-italic {
    font-style: italic;
}

.text-brand-1 {
    color: $color__1_0;
}
.text-brand-2 {
    color: $color__2_0;
}
.text-brand-3 {
    color: $color__3_0;
}
.text-brand-4 {
    color: $color__4_0;
}

// Positioning
.stick {
    position: fixed;
    top: 0px;
}

// Visibility helper classes
.invisible {
  visibility: hidden !important;
}

.hidden {
  display: none !important;
}

@media (max-width: ($sm - 1)) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: $sm) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (min-width: $sm) and (max-width: ($md - 1)) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: ($md - 1)) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: $md) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (min-width: $md) and (max-width: ($lg - 1)) {
  .hidden-md {
    display: none !important;
  }
}

@media (max-width: ($lg - 1)) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: $lg) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (min-width: $lg) and (max-width: ($xl - 1)) {
  .hidden-lg {
    display: none !important;
  }
}

@media (max-width: ($xl - 1)) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: $xl) {
  .hidden-xl {
    display: none !important;
  }
}
