// Media queries (and structure)
$size__site-main: 100%;
$size__site-sidebar: 25%;

$screen-sm-min: 620px;
$screen-md-min: 780px;
$screen-lg-min: 1140px;

// Colors
$color__base:           rgba(0,0,0,.87);
$color__gray-dark:      rgba(0,0,0,.71);
$color__gray-light:     rgba(0,0,0,.39);
$color__gray-lighter:   rgba(0,0,0,.18);
$color__gray-lightest:  rgba(0,0,0,.05);

$color__1_-1: #169861; // Grøn
$color__1_0: #1BB373;
$color__1_1: #5EC99C;
$color__1_2: #BBE8D5;
$color__1_3: #E8F7F1;

$color__2_-1: #1C6CBC; // Blå
$color__2_0: #2180DE; 
$color__2_1: #63A5E7;
$color__2_2: #BCD9F5;
$color__2_3: #E9F2FB;

$color__3_-1: #BA931C; // Gul
$color__3_0: #DBAD21; 
$color__3_1: #E9CD79;
$color__3_2: #F4E6BC;
$color__3_3: #FBF6E9;

$color__4_-1: #CD1E1E; // Rød
$color__4_0: #F22424; 
$color__4_1: #F56565;
$color__4_2: #FBBDBD;
$color__4_3: #FDE9E9;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: $color__link;
$color__link-hover: midnightblue;
$color__text-main: $color__base;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Typography
$font__main: 'Livory', Georgia, serif;
$font__headers: 'Gotham Rounded', "Helvetica Neue", Helvetica, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;