// --------------------------------------------------------------
// Function to create svg code
// --------------------------------------------------------------

@function buildUrl($path, $color, $width, $height) {
  $path-wrap: '%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22#{$path}%22%20%2F%3E'; 
  $svg:       '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22#{$width}%22%20height%3D%22#{$height}%22%3E#{$path-wrap}%3C%2Fsvg%3E';
  $url:       url("data:image/svg+xml;charset=utf8,#{$svg}");

  @return $url;
}

// Small border
$border-small_width:  640px;
$border-small_height: 7px;

@function borderSmall($color) {
  $width:  $border-small_width;
  $height: $border-small_height;
  $path:   'm0,0l640,0c0,0 0,4 0,4c0,0 -9,3 -22,3c-13,0 -35,-4 -66,-4c-33,0 -86,3 -114,3c-17.47892,0 -76,-3 -89,-3c-24,0 -37,4 -62,4c-24,0 -54,-4 -89,-4c-26,0 -46,2 -75,2c-25,0 -44,-4 -74,-4c-22,0 -42.33026,1 -49,3l0,-4z';

  @return buildUrl($path, $color, $width, $height);
}

// Big border
$border-big_width:  1440px;
$border-big_height: 13px;

@function borderBig($color) {
  $width:  $border-big_width;
  $height: $border-big_height;
  $path:   'm1440,5c0,0 -2.6608,0.06246 -10,0c-36,1 -64,5 -123,4c-30.48476,0 -73,-1.78371 -118,-3c-70.28062,-1.17535 -116,-1 -168,-1c-50.32462,0 -101,8 -164,8c-52,0 -109,-8 -185,-8c-102,0 -109,4 -172,4c-38,0 -119,-6 -186,-6c-49,0 -110,8 -158,8c-59,0 -112,-6 -146,-6c0,0 -10,0 -10,0l0,-5l1440,0l0,5z';

  @return buildUrl($path, $color, $width, $height);
}

// Frame border
$border-frame_width:  1440px;
$border-frame_height: 1440px;

@function borderFrame($color) {
  $width:  $border-frame_width;
  $height: $border-frame_height;
  $path:   'm5,5l5,0c34,0 87,6 146,6c48,0 109,-8 158,-8c67,0 148,6 186,6c63,0 70,-4 172,-4c76,0 133,8 185,8c63,0 113.674988,-8 164,-8c52,0 97.719971,-0.175 168,1c45,1.216 87.515015,3 118,3c59,1 87,-3 123,-4c7.339966,0.062 10,0 10,0l0,-5l-1440,0l0,1440l5,0l0,-10c0,-34 6,-87 6,-146c0,-48 -8,-109 -8,-158c0,-67 6,-148 6,-186c0,-63 -4,-70 -4,-172c0,-76 8,-133 8,-185c0,-63 -8,-113.674988 -8,-164c0,-52 -0.175,-97.720001 1,-168c1.216,-45 3,-87.514999 3,-118c1,-59 -3,-87 -4,-123l0,-5z';


  @return buildUrl($path, $color, $width, $height);
}

// Create borders
$border__green: (
  small: borderSmall($color__1_2),
  big: borderBig($color__1_2),
  frame: borderFrame($color__1_2)
);
$border__green-light: (
  small: borderSmall($color__1_3),
  big: borderBig($color__1_3)
);
$border__blue: (
  small: borderSmall($color__2_2),
  big: borderBig($color__2_2),
  frame: borderFrame($color__2_2)
);
$border__blue-light: (
  small: borderSmall($color__2_3),
  big: borderBig($color__2_3)
);
$border__yellow: (
  small: borderSmall($color__3_2),
  big: borderBig($color__3_2),
  frame: borderFrame($color__3_2)
);
$border__yellow-light: (
  small: borderSmall($color__3_3),
  big: borderBig($color__3_3)
);
$border__red: (
  small: borderSmall($color__4_2),
  big: borderBig($color__4_2),
  frame: borderFrame($color__4_2)
);
$border__red-light: (
  small: borderSmall($color__4_3),
  big: borderBig($color__4_3)
);
$border__base: (
  small: borderSmall($color__base_solid),
  big: borderBig($color__base_solid)
);
$border__gray-lightest: (
  small: borderSmall($color__gray-lightest_solid),
  big: borderBig($color__gray-lightest_solid)
);
$border__white: (
  small: borderSmall(#fff),
  big: borderBig(#fff)
);

// --------------------------------------------------------------
// Mixins
// --------------------------------------------------------------

@mixin border-before($border__color) {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: -$border-small_height;
        left: 0;
        width: 100%;
        height: $border-small_height;
        background-image: map-get($border__color, small);
        background-repeat: repeat-x;
        z-index: 1000;
        transform: rotate(-180deg);

        @include respond-to($sm) {
          top: -$border-big_height;
          height: $border-big_height;
          background-image: map-get($border__color, big);
        }
    }
}

@mixin border-after($border__color) {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: -$border-small_height;
        left: 0;
        width: 100%;
        height: $border-small_height;
        background-image: map-get($border__color, small);
        background-repeat: repeat-x;
        z-index: 1000;
        transform: scaleX(-1);


        @include respond-to($sm) {
          bottom: -$border-big_height;
          height: $border-big_height;
          background-image: map-get($border__color, big);
        }
    }
}

// --------------------------------------------------------------
// Images
// --------------------------------------------------------------

@mixin border-frame($border__color) {
  &:before,
  &:after {
      background-image: map-get($border__color, big);

      @include respond-to($sm) {
        background-image: map-get($border__color, frame);
      }
  }
}
figure .img-border {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $border-big_width;
        height: $border-big_height;

        @include respond-to($sm) {
          width: $border-frame_width;
          height: $border-frame_height;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -200px;
        width: $border-big_width;
        height: $border-big_height;
        transform: rotate(-180deg);

        @include respond-to($sm) {
          width: $border-frame_width;
          height: $border-frame_height;
          left: auto;
          right: 0;
        }
    }
}

.category-opdagelser .img-border {
  @include border-frame($border__green);
}
.category-livestemning .img-border {
  @include border-frame($border__blue);
}
.category-feature .img-border {
  @include border-frame($border__yellow);
}
.category-generelt .img-border {
  @include border-frame($border__red);
}
