.wp-caption {
	@extend .h6;

    margin-bottom: 1.25rem;

	.wp-caption-text {
		margin-top: .75rem;
        margin-left: 20px;
        text-align: left;
        line-height: 1.5;

        @include respond-to($md) {
            margin-left: 40px;
        }
        @include respond-to($xl) {
            margin-left: 60px;
        }
	}
}

.category-opdagelser .wp-caption {
    color: $color__1_-1;
}

.category-livestemning .wp-caption {
    color: $color__2_-1;
}

.category-feature .wp-caption {
    color: $color__3_-1;
}

.category-generelt .wp-caption {
    color: $color__4_-1;
}
