.wp-caption {
	@extend .h6;

    margin-bottom: 1.25rem; // Behøves nok ikke - erklæres allerede ved h6
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 10px 0 0;
        text-align: left;
	}
}

.category-opdagelser .wp-caption {
    color: $color__1_-1;
}

.category-livestemning .wp-caption {
    color: $color__2_-1;
}

.category-feature .wp-caption {
    color: $color__3_-1;
}

.category-generelt .wp-caption {
    color: $color__4_-1;
}
