.wp-caption {
	@extend .h6;

    margin-bottom: 1rem;

	.wp-caption-text {
		margin-top: 5px;
        text-align: left;
	}
}

.category-opdagelser .wp-caption {
    color: $color__1_-1;
}

.category-livestemning .wp-caption {
    color: $color__2_-1;
}

.category-feature .wp-caption {
    color: $color__3_-1;
}

.category-generelt .wp-caption {
    color: $color__4_-1;
}
