input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    margin-bottom: 0;
    padding: 4px 8px;
    outline: 0;
    appearance: none; // Remove input shadow on mobile
    font-family: $font__main;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 6px;
	background: #fff;
    color: $color__gray-light;
    transition: color .2s ease, border-color .5s ease;
    box-shadow: none;

    &:focus {
		border-color: $color__gray-lighter;
        color: $color__base;
	}
}

textarea {
    height: 100px;
    resize: vertical;
}

label {
    display: block;
    margin-bottom: 5px;
    color: $color__base;

    @extend .h6;
}

// Farve focus efter kategori
// .category-opdagelser {
//     input[type="text"],
//     input[type="email"],
//     input[type="url"],
//     input[type="password"],
//     input[type="search"],
//     textarea {
//         &:focus {
//             border-color: $color__1_2;
//         }
//     }
// }
// .category-livestemning {
//     input[type="text"],
//     input[type="email"],
//     input[type="url"],
//     input[type="password"],
//     input[type="search"],
//     textarea {
//         &:focus {
//             border-color: $color__2_2;
//         }
//     }
// }
// .category-feature {
//     input[type="text"],
//     input[type="email"],
//     input[type="url"],
//     input[type="password"],
//     input[type="search"],
//     textarea {
//         &:focus {
//             border-color: $color__3_2;
//         }
//     }
// }
// .category-generelt {
//     input[type="text"],
//     input[type="email"],
//     input[type="url"],
//     input[type="password"],
//     input[type="search"],
//     textarea {
//         &:focus {
//             border-color: $color__4_2;
//         }
//     }
// }

// /* Placeholder - browsers require these rules separate */
// input::-webkit-input-placeholder {
//   color: rgba(0, 0, 0, 0.4);
// }
// input::-moz-placeholder {
//   color: rgba(0, 0, 0, 0.4);
// }
// input::-ms-input-placeholder {
//   color: rgba(0, 0, 0, 0.4);
// }