.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

// Target all iframes independently so to NOT target Instagram iframes
.entry-content embed,
.entry-content iframe[src*="soundcloud"],
.entry-content iframe[src*="youtube"],
.entry-content iframe[src*="vimeo"],
.entry-content iframe[src*="spotify"],
.entry-content iframe[src*="mixcloud"],
.entry-content object {
    height: 180px;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;

    // contain: strict;

    @include respond-to(400px) {
        height: 220px;
    }

    @include respond-to($md) {
        height: 300px;
    }

    @include respond-to($xl) {
        height: 300px;
    }
}

.audioplayer_container object {
    height: 30px;
}

// Make images, iframes and embeds go to border of device on smallest screen
.post figure,
.entry-content iframe[src*="soundcloud"],
.entry-content iframe[src*="youtube"],
.entry-content iframe[src*="vimeo"],
.entry-content iframe[src*="spotify"],
.entry-content iframe[src*="mixcloud"],
.entry-content embed {
    width: calc(100% + #{$gutter-width} * 2); // variable is interpolated in order to compile 
    margin-left: -$gutter-width;
}

// Make images go off content border further on bigger screens
.post figure {
    @include respond-to($sm) {
        width: calc(100% + (#{$gutter-width}*2) * 2);
        margin-left: -$gutter-width * 2;
    }

    @include respond-to($md) {
        width: calc(100% + (#{$gutter-width}*4) * 2);
        margin-left: -$gutter-width * 4;
    }

    @include respond-to($xl) {
        width: calc(100% + (#{$gutter-width}*4) * 2);
        margin-left: -$gutter-width * 4;
    }
}

// Make iframes and embeds align to content on bigger screens
.entry-content iframe[src*="soundcloud"],
.entry-content iframe[src*="youtube"],
.entry-content iframe[src*="vimeo"],
.entry-content iframe[src*="spotify"],
.entry-content iframe[src*="mixcloud"],
.entry-content embed {
    @include respond-to($sm) {
        width: 100%;
        margin-left: 0;
    }
}

.entry-content iframe[src*="mixcloud"],
.entry-content iframe[src*="soundcloud"] {
    height: auto;
}

.entry-content iframe[src*="spotify"] {
    height: 80px;
}

.entry-content iframe[src*="mixcloud"] { // Styles specific to Mixcloud players
    margin-top: 1rem;

    & + div {
        display: none;
    }
}

// .entry-content a img {
//     margin-bottom: 1rem; // Old blog photos wrapped in a-tags need this because they are a part of the p-tag together with the paragraph text
//     height: auto;        // Again, old blog photos in a-tags need this
// }

// .entry-content .img-border a img {
//     margin-bottom: 0;    // Cancel above "hack" for images within img-border divs
// }

figure {
    height: auto;
    margin-top: 0;
    margin-left: -$gutter-width;
    line-height: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.post figure figure { // Skal fx bruges på .../2016/03/jaerv-et-hav-af-vellyd/ da funktionen lige nu giver dette billede to gange figure-wraps
    margin-left: 0;
    width: 100%;

    @include respond-to($md) {
        margin-left: 0;
    }

    @include respond-to($xl) {
        margin-left: 0;
    }
}

/* Margin bottom for audio player */
.wp-audio-shortcode {
    margin-bottom: 1.25rem;
}


// /*--------------------------------------------------------------
// ## Bumpy borders
// --------------------------------------------------------------*/

// .bumpy-top {
//     position: absolute;
//     width: 100%;
//     top: 0;
//     left: 0;
//     right: 0;
// }
// .bumpy-bottom {
//     position: absolute;
//     width: 100%;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }
// .bumpy-left {
//     position: absolute;
//     height: 100%;
//     top: 0;
//     bottom: 0;
//     left: 0;
// }
// .bumpy-right {
//     position: absolute;
//     height: 100%;
//     top: 0;
//     bottom: 0;
//     right: 0;
// }
// .bumpy-top_on-top {
//     position: absolute;
//     width: 100%;
//     bottom:  100%;
//     left: 0px;
//     right: 0px;
// }

// .bumpy-top,
// .bumpy-bottom,
// .bumpy-left,
// .bumpy-right,
// .bumpy-top_on-top {
//     -webkit-border-radius: 0px !important;
//             border-radius: 0px !important;
// }
