.main-navigation {
	font-family: $font__headers;
	font-weight: bold;
	font-size: 20px;
	display: none;

	@include respond-to(880px) {
		display: flex;
		justify-content: space-between;
		padding-right: 10px;
		font-size: 16px;
	}

	ul {
		margin: 0;
		padding-left: 0;
		text-align: center;
		list-style: none;
	}
	
	li {
		margin-bottom: 1rem;
		opacity: 0;
		animation-duration: .2s;
		transition: opacity .2s ease;

		@include respond-to($md) {
			opacity: 1;
			display: inline-block;
			margin-left: 20px;
			margin-bottom: 0;
		}

		@include respond-to($xl) {
			margin-left: 30px;
		}
	}
	
	a {
		color: $color__base;
		text-decoration: none;
		
    	&:hover {
    		text-decoration: underline;
    	}
	}

	#menu-item-16789 a,
	#menu-item-17208 a, // regnsky.dk
	#menu-item-17228 a { // Sidste menupunkt er til ungtriumf.dk/regnsky
		color: $color__1_0; 
	}
	#menu-item-16791 a,
	#menu-item-17210 a, // regnsky.dk
	#menu-item-17230 a {
		color: $color__2_0;
	}
	#menu-item-16790 a,
	#menu-item-17209 a, // regnsky.dk
	#menu-item-17229 a {
		color: $color__3_0;
	}
	#menu-item-16870 a {
		color: $color__4_0;
	}
}

// Burger menu
.menu-toggle {
	display: flex;
	align-items: center;
	width: 40px;
	height: 40px;
	text-decoration: none;
	border-radius: 20px;
	background: none;
	cursor: pointer;
    transition: background .2s ease;

	.bar-wrap {
		margin: 0 auto;
	}

	.bar {
		display: block;
		width: 20px;
    	height: 3px;
    	margin: 0 auto 3px;
    	border-radius: 10px;
    	opacity: 1;
    	background: $color__base;
    	transition: all .2s $animation-spring;

    	&:last-of-type {
    		margin-bottom: 0;
    	}
	}

	// Hide on bigger screens
	@include respond-to(880px) {
		display: none;
	}
}

.category-opdagelser .menu-toggle span {
	background: $color__1_0;
}
.category-livestemning .menu-toggle span {
	background: $color__2_0;
}
.category-feature .menu-toggle span {
	background: $color__3_0;
}
.category-generelt .menu-toggle span {
	background: $color__4_0;
}

// Display menu on mobile
body.nav-toggled {

	.site-header {
    	height: 370px;
	}

	.main-navigation {
		// display: block;
		display: absolute;
		top: 80px;
	}

	.menu-toggle {
		background: $color__gray-lighter;

		span {
			background: $color__base;
		}

		.bar-1 {
			transform: translateY(6px) rotate(-45deg);
		}
		.bar-2 {
			opacity: 0;
		}
		.bar-3 {
			transform: translateY(-6px) rotate(45deg);
		}
	}
}

/* Navigation */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 30px;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}