html {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__base;
	border: 0;
	height: 1px;
	margin-bottom: 1.25rem;
	width: 60px;
}
.category-musik hr {
    background-color: $color__brand-1;
}

.category-nyheder hr {
    background-color: $color__brand-2;
}

.category-anmeldelser hr {
    background-color: $color__brand-3;
}

.category-livestemning hr {
    background-color: $color__brand-4;
}

a,
button,
input,
textarea {
	touch-action: none; /* Disable double click detection on IE11 and Microsoft Edge on desktop, as well as IE11 on Windows Phone 8.1 */
}

@import "lists";

// img {
// 	height: auto; /* Make sure images are scaled correctly. */
// 	max-width: 100%; /* Adhere to container width. */
// }

@import "tables";