$color__base: #222;
$color__gray-dark: #4a4a4a;
$color__gray-light: #9b9b9b; // lighten($color__base, 61%); hvor color__base = 0
$color__gray-lightest: #dadada;

$color__brand-1: #f22424; // rød
$color__brand-2: #2199de; // blå
$color__brand-3: #1dc495; // grøn
$color__brand-4: #8724f0; // lilla 

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: $color__base;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
