.main-navigation {
	clear: both;
	display: block;
	width: 260px;
	margin: 20px auto;

	// opacity: 0;
	// transform: translateY(-100%);

    // -webkit-transition: all .2s cubic-bezier(0.4, 0, 0.35, 1.5);
    // 		transition: all .2s cubic-bezier(0.4, 0, 0.35, 1.5);

	ul {
		display: none;
		list-style: none;
		margin: 0;
		margin-left: -30px;
		padding-left: 0;
		text-align: center;

	    -webkit-columns: 2;
	       -moz-columns: 2;
	    		columns: 2;

	    -webkit-column-gap: 0rem;
    	   -moz-column-gap: 0rem;
    			column-gap: 0rem;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;
		margin-bottom: 10px;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: $color__base;
		
		@include font-size(0.75); // 12px
		font-weight: bold;
    	letter-spacing: 2px;

		// LAV KUN HOVER PÅ MOBIL!
    	&:hover {
    		text-decoration: underline;
    	}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	/* Color menu items */
	#menu-item-16179 a {
		color: $color__brand-1; 
	}
	#menu-item-16181 a {
		color: $color__brand-2;
	}
	#menu-item-16182 a {
		color: $color__brand-3;
	}
	#menu-item-16180 a {
		color: $color__brand-4;
	}
}

/* Small menu. */
.menu-toggle {
	position: absolute;
	top: 20px;
	right: 20px;

	width: 38px;
	height: 38px;
	padding-top: 11px;
	text-decoration: none;
	border-radius: 20px;
	background: none;
	cursor: pointer;

	-webkit-transition: background .2s ease-in;
    		transition: background .2s ease-in;

	span {
		display: block;
		width: 20px;
    	height: 3px;
    	margin: 0 auto 3px;
    	border-radius: 10px;
    	opacity: 1;
    	background: $color__base;

    	-webkit-transition: background .2s ease-in;
    			transition: background .2s ease-in;

    	-webkit-transition: all .2s cubic-bezier(0.4, 0, 0.35, 1.5);
    			transition: all .2s cubic-bezier(0.4, 0, 0.35, 1.5);
	}
}

// Color burger menu according to category
.category-musik .menu-toggle span {
	background: $color__brand-1;
}
.category-nyheder .menu-toggle span {
	background: $color__brand-2;
}
.category-anmeldelse .menu-toggle span {
	background: $color__brand-3;
}
.category-livestemning .menu-toggle span {
	background: $color__brand-4;
}

.menu-toggle[aria-expanded="true"] {
	background: $color__gray-lighter;

	span {
		background: $color__base;
	}

	.bar-1 {
		transform: translateY(6px) rotate(-45deg);
	}
	.bar-2 {
		opacity: 0;
	}
	.bar-3 {
		transform: translateY(-6px) rotate(45deg);
	}
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation.toggled {
	opacity: 1;
	transform: translateY(0px);
}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
