.entry-actions-header {

    @media(min-width: $screen-sm-min) {
        text-align: left;
    }

    &:before {
        content: " ";
        display: block;
        width: 60px;
        height: 1px;
        background-color: $color__base;
        margin: 0 auto 20px;

        @media(min-width: $screen-sm-min) {
            margin-left: 0;
        }
    }
}
.category-musik .entry-actions-header:before {
    background-color: $color__brand-1;
}
.category-nyheder .entry-actions-header:before {
    background-color: $color__brand-2;
}
.category-anmeldelser .entry-actions-header:before {
    background-color: $color__brand-3;
}
.category-livestemning .entry-actions-header:before {
    background-color: $color__brand-4;
}

/*--------------------------------------------------------------
## Share post
*/

.entry-share {
    margin-bottom: 0px; // Skal være 30px, når det ikke er sociale embeddede knapper
}

.share-buttons {
    text-align: center;

    @media(min-width: $screen-sm-min) {
        text-align: left;
    }

    a {
        text-decoration: none;
        outline: none;

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        //display: inline-block;
        //margin-right: 20px;
        margin-bottom: 10px;

        @media(min-width: $screen-sm-min) {
            margin-bottom: 10px;
        }
        
        &:last-child {
            margin-right: 0;
        }

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        span {
            vertical-align: 6px; // 5px ved 12px font size
        }
    }
}

/*--------------------------------------------------------------
## Comment post
*/

.entry-comment {
    margin-bottom: 50px;
}

.no-comments-yet {
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.comments-area {
    display: none;

    .comment-reply-title {
        display: none; // Hide title "Skriv et svar"
    }

    font-size: 16px;

    // p {
    //     font-size: 16px;
    // }

    textarea {
        height: 120px;
    }

    .comment-form-url {
        margin-bottom: 30px;
    }

    // Comments
    ul, ol, li {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }

    .comments-title {
        display: none;
    }
}

.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}

.form-submit {
    margin-bottom: 0;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        //text-align: left;
    }
}


/*--------------------------------------------------------------
## Read related posts
*/

.entry-related {
    margin-bottom:20px;
}

.related-post,
.small-post {
    margin-bottom: 10px;
    
    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    span {
        font-size: 0.75rem;
    }

    .small-post-meta,
    .small-post-title {
        text-align: center;

        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
    }
}

.small-post-date {
    display: block;
}