.site-header-top {
    position: relative;
    width: 100%;
    height: 68px;
    background: lighten(red, 40%);
    overflow: hidden;
}

.header-regnsky {
    position: absolute;
    top: 0;
    left: -80px;
    width: (1440px / 2);
}

.header-border {
    position: absolute;
    top: -35px;
    right: -100px;
    width: (1880px / 2);
}

.logo {
    width: 100px;
}

.site-branding {
    width: 100%;
    padding: 0 1.25rem 1.25rem 1.25rem;

    div {
        margin: 0 auto;
    }

    .logo {
        float: left;
        margin-right: 20px;
    }

    .site-description {
        float: left;
        margin-top: 5px;
        @include font-size(0.75);
        line-height: 1.4;
        font-style: italic;
    }

    @include clearfix();
}

@media screen and (min-width: 600px) {
    .site-header-top {
        height: 136px;
        margin-bottom: 40px;
    }

    .header-regnsky {
        left: 0;
        width: 1440px;
    }

    .header-border {
        top: 0;
        right: -20px;
        width: 1880px;
    }

    .menu-toggle {
        display: none;
    }

    .main-navigation {
        position: absolute;
        top: 40px;
        right: 40px;
        margin: 0;
    }

    .site-branding {
        display: none;
    }
}