.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.entry-category a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.entry-meta {
    font-style: italic;
    color: $color__gray-light;

    a,
    .date {
        color: $color__base;
    }
}

/* Images */
.entry-content img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

/* Tags */ 
.entry-footer {
    .tags-links a {
        padding: 4px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 31px;
        border-radius: 15px;
        font-family: $font__headers;
        @include font-size(0.75); // 12px - evt. lav 14px (0.875 rem) ved højere skærmstørrelser
        font-weight: 300;
        text-decoration: none;
        
        color: $color__base;

        &:last-child {
            margin-right: 0;
        }
    }
}

/* Category specific styles */ 

.category-musik {
    .entry-category a {
        color: $color__brand-1;
    }

    .entry-footer .tags-links a {
        // border: 1px solid $color__brand-1_2;
        background-color: $color__brand-1_3;

        &:hover {
            background-color: $color__brand-1_2;
        }
    }
}
.category-nyheder {
    .entry-category a {
        color: $color__brand-2;
    }
    .entry-footer .tags-links a {
        // border: 1px solid $color__brand-2_2;
        background-color: $color__brand-2_3;

        &:hover {
            background-color: $color__brand-2_2;
        }
    }
}
.category-anmeldelse {
    .entry-category a {
        color: $color__brand-3;
    }
    .entry-footer .tags-links a {
        // border: 1px solid $color__brand-3_2;
        background-color: $color__brand-3_3;

        &:hover {
            background-color: $color__brand-3_2;
        }
    }
}
.category-livestemning {
    .entry-category a {
        color: $color__brand-4;
    }
    .entry-footer .tags-links a {
        // border: 1px solid $color__brand-4_2;
        background-color: $color__brand-4_3;

        &:hover {
            background-color: $color__brand-4_2;
        }
    }
}
