.site-content {
    margin-bottom: 0;

    @media (min-width: 500px) {
        margin-bottom: 60px;
    }
}

.content-area {
    overflow: hidden;
}

.sticky {
	display: block;
}

.hentry {
	margin-bottom: 40px;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Entry header */
.entry-header {
    margin-bottom: 1.875rem; // 30px
}

.entry-category {
    margin-bottom: 1.25rem;

    // a {
    //     text-decoration: none;
    // }

    // &:hover {
    //     text-decoration: underline;
    // }
}
.category-musik {
    .entry-category,
    .entry-category a {
        color: $color__brand-1;
    }
}
.category-nyheder {
    .entry-category,
    .entry-category a {
        color: $color__brand-2;
    }
}
.category-anmeldelser {
    .entry-category,
    .entry-category a {
        color: $color__brand-3;
    }
}
.category-livestemning {
    .entry-category,
    .entry-category a {
        color: $color__brand-4;
    }
}

// Center titles on single posts and pages
.entry-title,
.entry-meta,
.page-title {
    text-align: center;
}

.blog .entry-title,
.blog .entry-meta,
.archive .entry-title,
.archive .entry-meta {
    text-align: left;
}

.entry-meta {

    a,
    .date {
        color: $color__base;
    }
}

@media (min-width: $screen-lg-min) {
    .entry-title,
    .entry-meta,
    .page-title {
        text-align: left;
    } 
}

// @media (min-width: $screen-lg-min) {
//     .page-title {
//         text-align: left;
//     } 
// }

/* Entry content */ 
.single .entry-content {
    margin-bottom: 10px; // To get 30px down to the tags
}

.entry-content img {
    height: auto; /* Make sure images are scaled correctly. */
    width: 100%; /* Adhere to container width. */
}
