.entry-footer {
    .tags-links {
        text-align: left;

        a {
            display: inline-block;
            padding: 3px 10px 2px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 15px;
            border: 1px solid transparent;
            text-decoration: none;
            
            color: $color__base;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.category-opdagelser {
    .entry-footer .tags-links a {
        background-color: $color__1_3;

        &:hover {
            border: 1px solid $color__1_2;
        }
    }
}
.category-livestemning {
    .entry-footer .tags-links a {
        background-color: $color__2_3;

        &:hover {
            border: 1px solid $color__2_2;
        }
    }
}
.category-feature {
    .entry-footer .tags-links a {
        background-color: $color__3_3;

        &:hover {
            border: 1px solid $color__3_2;
        }
    }
}
.category-generelt {
    .entry-footer .tags-links a {
        background-color: $color__4_3;

        &:hover {
            border: 1px solid $color__4_2;
        }
    }
}
