.entry-footer {
    .tags-links a {
        padding: 4px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 31px;
        border-radius: 15px;
        border: 1px solid transparent;
        // font-family: $font__headers;
        // @include font-size(0.75); // 12px - evt. lav 14px (0.875 rem) ved højere skærmstørrelser
        // font-weight: 300;
        text-decoration: none;
        
        color: $color__base;

        &:last-child {
            margin-right: 0;
        }
    }
}
.category-musik {
    .entry-footer .tags-links a {
        background-color: $color__brand-1_3;

        &:hover {
            // background-color: $color__brand-1_2;
            border: 1px solid $color__brand-1_2;
        }
    }
}
.category-nyheder {
    .entry-footer .tags-links a {
        background-color: $color__brand-2_3;

        &:hover {
            // background-color: $color__brand-2_2;
            border: 1px solid $color__brand-2_2;
        }
    }
}
.category-anmeldelse {
    .entry-footer .tags-links a {
        background-color: $color__brand-3_3;

        &:hover {
            // background-color: $color__brand-3_2;
            border: 1px solid $color__brand-3_2;
        }
    }
}
.category-livestemning {
    .entry-footer .tags-links a {
        background-color: $color__brand-4_3;

        &:hover {
            // background-color: $color__brand-4_2;
            border: 1px solid $color__brand-4_2;
        }
    }
}
